<h1>Nouveau post</h1>
<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre" class="form-control" formControlName="titre">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" id="content" class="form-control" formControlName="content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
  </form>
</div>
