<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':  postLoveIts  > 0,
                'list-group-item-danger':  postLoveIts  < 0 }">
                <span class="dateCreate">{{ postCreatedAt | date: 'short' }}</span>
  <h2>{{ postTitre }} <span class="badge badge-primary">{{postLoveIts}}</span></h2> 
  
  <p>{{ postContent }}</p>

  
  <button class="btn btn-success" (click)="love()">Love it !</button> &nbsp;
  <button class="btn btn-danger" (click)="dontLove()" >Don't love !</button>
  &nbsp; 
  <div class="dateCreate">
    <button class="btn btn-danger" (click)="onDelete()">Supprimer le post</button>
  </div>

</li>