<h1>Posts</h1>
<ul class="list-group">
  <app-post-list-item-component *ngFor="let post of posts; let i = index"
                                [postTitre]="post.titre"
                                [postContent]="post.content"
                                [postLoveIts]="post.loveIts"
                                [postCreatedAt]="post.createdAt"
                                [index]="i">
  </app-post-list-item-component>
</ul>
